
{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">
            <article class="gallery-wrap">
                <div class="img-big-wrap mainImage text-center">
                   <img src="{{ product.images.url }}">
                </div> <!-- img-big-wrap.// -->

            </article> <!-- gallery-wrap .end// -->
            <ul class="thumb">

                <li>
                <a href="{{ product.images.url }}" target="mainImage"><img src="{{ product.images.url }}" alt="Product Image"></a>
                {% for i in product_gallery %}
                    <a href="{{ i.image.url }}" target="mainImage"><img src="{{ i.image.url }}" alt="Product Image"></a>
                {% endfor %}
                </li>

            </ul>
		</aside>
        <main class="col-md-6 border-left">

            <form action="{% url 'add_cart' product.id %}" method="post">
            {% csrf_token %}
                <article class="content-body">

                <h2 class="title">{{ product.product_name }}</h2>

                <div class="rating-star">
                    {% if product.countReviews > 0 %}
                    <span>
                        <i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half {% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half {% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half {% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half {% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half {% endif %}" aria-hidden="true"></i>
                    </span>
                    <span>{{ product.countReviews }} reviews</span>
                    {% else %}
                    <span>Not Rating yet</span>
                    {% endif %}
                </div>


                <div class="mb-3">
                    <var class="price h4">${{ product.price }}</var>
                </div>

                <p>{{ product.description }}</p>


                <hr>
                    <div class="row">
                        <div class="item-option-select">
                            <h6>Choose Color</h6>
                            <label>
                                <select name="color" class="form-select form-control" required>

                                    <option disabled selected>Select</option>
                                    {% for i in product.variation_set.colors %}
                                    <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                    {% endfor %}



                                </select>
                            </label>
                        </div>
                    </div> <!-- row.// -->

                    <div class="row">
                        <div class="item-option-select">
                            <h6>Select Size</h6>
                            <label>
                                <select name="size" class="form-select form-control">
                                    <option disabled selected>Select</option>
                                    {% for i in product.variation_set.sizes %}
                                    <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                    </div> <!-- row.// -->

                    <hr>
                    {% if product.stock <= 0 %}
                    <h5 class="alert-warning text-center pt-2 pb-2">Out of stock</h5>
                    {% else %}
                        <button class="btn  btn-primary"  type="submit"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </button>
                    {% endif %}
                </article> <!-- product-info-aside .// -->
            </form>
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br>

<div class="row">
    <div class="col-md-9">

    <form action="{% url 'submit_review' product.id %}" method="post">
        {% csrf_token %}
        <h5>Write Your Review</h5>
        <p>{{ product.averageReview }}</p>
        <div class="form-group">
           <div>
               <label>How do you rate this product?</label>
           </div>

            <div class="rate">
                <input type="radio" id="rating10" name="rating" value="5" required /><label for="rating10" title="5"></label>
                <input type="radio" id="rating9" name="rating" value="4.5" required /><label for="rating9" title="4.5" class="half"></label>
                <input type="radio" id="rating8" name="rating" value="4" required /><label for="rating8" title="4"></label>
                <input type="radio" id="rating7" name="rating" value="3.5" required /><label for="rating7" title="3.5" class="half"></label>
                <input type="radio" id="rating6" name="rating" value="3" required /><label for="rating6" title="3"></label>
                <input type="radio" id="rating5" name="rating" value="2.5" required /><label for="rating5" title="2.5" class="half"></label>
                <input type="radio" id="rating4" name="rating" value="2" required /><label for="rating4" title="2"></label>
                <input type="radio" id="rating3" name="rating" value="1.5" required /><label for="rating3" title="1.5" class="half"></label>
                <input type="radio" id="rating2" name="rating" value="1" required /><label for="rating2" title="1"></label>
                <input type="radio" id="rating1" name="rating" value="0.5" required /><label for="rating1" title="0.5" class="half"></label>
            </div>
        </div>
        <div class="form-group">
            <label for="subject">Review Title</label>
            <input name="subject" type="text" class="form-control" id="subject" placeholder="Your Review">
        </div>
        <div class="form-group">
            <label for="review">Review Content</label>
            <textarea name="review" class="form-control" id="review" rows="4" cols="80"></textarea>
        </div>
        {% if user.is_authenticated %}
            {% if orderproducts %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit Review</button>
            </div>
            {%  else %}
                <p>You must purchased this product to post a review</p>
            {% endif %}
        {% else %}
            <p>You must be logged in to post a review <span><a href="{% url 'login' %}">Login now</a></span></p>
        {% endif %}
        <div class="border-bottom mb-5">{% include 'includes/alerts.html' %}</div>
    </form>

    <header class="section-heading">
		<h3>Customer Reviews </h3>
        <div class="rating-star">
            {% if product.countReviews > 0 %}
            <span>
                <i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half {% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half {% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half {% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half {% endif %}" aria-hidden="true"></i>
                <i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half {% endif %}" aria-hidden="true"></i>
            </span>
            <span>{{ product.countReviews }} reviews</span>
            {% else %}
            <span>Not Rating yet</span>
            {% endif %}
        </div>
	</header>
    {% for review in reviews %}
	<article class="box mb-3">
		<div class="icontext w-100">

			<div class="text">
				<span class="date text-muted float-md-right">{{ review.updated_at }} </span>
				<h6 class="mb-1">{{ review.user.full_name }}</h6>
                <div class="rating-star">
                    <span>
                        <i class="fa fa-star{% if review.rating == 0.5 %}-half{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if review.rating == 1.5 %}-half{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if review.rating == 2.5 %}-half{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if review.rating == 3.5 %}-half{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                        <i class="fa fa-star{% if review.rating == 4.5 %}-half{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
                    </span>
                </div>
				
			</div>
		</div> <!-- icontext.// -->
		<div class="mt-3">
            <h6>{{ review.subject }}</h6>
			<p>
				{{ review.review }}
			</p>	
		</div>
	</article>
    {% endfor %}
	

	</div> <!-- col.// -->
</div> <!-- row.// -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}